.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $header-top $header-right 0 $header-left;
  max-width: 1440px;
  margin: 0 auto;

  &__logo {
    img {
      width: auto;
      height: auto;
    }
  }

  &__nav {
    display: flex;
    gap: 29px;
    margin-left: 857px;

    .nav-link {
      font-family: $font-family;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: -0.35px;
      color: $text-color;
      transition: color 0.3s ease;

      &:hover {
        color: $emphasis-color;
      }
    }
  }
}