header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 61px;
}

.logo {
  width: 140px;
  height: auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 29px;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.35px;
}
nav a:hover {
  color: var(--emphasis-color);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 114px;
  margin-bottom: 47px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 95px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.social-link {
  color: var(--text-color);
  font-size: 18px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.social-link:hover {
  color: var(--emphasis-color);
}